<div class="box">
    <div class="cell">
        <strong>Ran - cpsc 304 project</strong>
        <div class="sep5"></div>
        <span class="hfade">This is a place to share and explore</span>
    </div>
    <div class="inner">
        <div class="sep5"></div>
        <div align="center">
            <a href="/signup" class="super normal button">Sign Up Right Now</a>
            <div class="sep5"></div>
            <div class="sep10"></div>
            Already have an account? please&nbsp;
            <a href="/signin">Sign In</a>
        </div>
    </div>
</div>
