{% extends "t_home.html" %}

{% block wrapper_rightbar_box2 %}
{% end %}

{% block wrapper_main_box1 %}
    <div class="box">
        <div class="cell">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                    <tr>
                        <td width="73" valign="top" align="center">
                            <img class="avator" src="{{ static_url(mUser["icon"]) }}" alt="" border="0" align="default" style="max-width: 73px; max-height: 73px;">
                            <div class="sep10"></div>
                        </td>
                        <td width="10"></td>
                        <td width="auto" valign="top" align="left">
                            {% if user %}
                                {% if mUser['id'] != user['id'] %}
                                    <div class="fr"><button id="fBtn" class="btn btn-success">Follow</button></div>
                                {% end %}
                            {% end %}
                            <h1 valign="top" style="margin-bottom: 5px; margin-top: 0px;" >{{mUser["account"]}}</h1>
                            <div class="sep10"></div>
                            <span class="gray">The No.{{mUser["id"]}} member in this forum.</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="inner"></div>
    </div>
    <div class="sep20"></div>
    <div class="box">
        {% if posts %}
            <div class="cell"><span class="gray">The post {{mUser["account"]}} created recently</span></div>
            {% for post in posts %}
                {% module Post(post) %}
            {% end %}
        {% end %}
    </div>
    <div class="sep20"></div>
    <div class="box">
        {% if replys %}
            <div class="cell"><span class="gray">{{mUser["account"]}} latest reply</span></div>
            {% for reply in replys %}
                {% module Reply(reply) %}
            {% end %}
        {% end %}
    </div>
    <div class="sep20"></div>
{% end %}

{% block wrapper_main_box2 %}
{% end %}

{% if user %}
    {% if user['id'] != mUser['id'] %}
        {% block script %}
        <script>
        $(function() {
                follow();
                });
        function follow(){
            $("#fBtn").click(function(){
                    var url="/follow/{{mUser["id"]}}";
                    $.get(url, function(res){
                        if(res=="T"){
                        $("#fBtn").html('Success')
                        }
                        else{
                        $("#fBtn").html('Failed')
                        }
                        })
                    })
        }
        </script>
        <script>
        $('#fBtn').validator()
        </script>
        {% end %}
    {% end %}
{% end %}
